<body>
<div class="single-row-products">
  <div>
    <h2>Twoje produkty:</h2>
  </div>
  <div class="card mt-2" *ngFor="let product of userProducts">
    <div>
      <table>
        <tr>
          <td>
            <div class="card mx-2 my-2">
              <img src="data:image/jpg;base64,{{product.image}}" alt="{{product.title}}}">
            </div>
          </td>
          <td>
            <div class="">
              <div class="ml-3">
                <p><b>Produkt:</b> {{product.title}}</p>
              </div>
              <div>
                <p><b>Opis:</b> {{product.description}}</p>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
</body>
