<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">Barter Wat</a>

  <div class="collapse navbar-collapse" *ngIf="!authorized()">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link">Produkty</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" (ngSubmit)="signIn()">
      <input class="form-control mr-sm-2" type="email" name="userEmail" placeholder="Email" required
        [(ngModel)]="user.email">
      <input class="form-control mr-sm-2" type="password" name="userPassword" placeholder="Hasło" required
        [(ngModel)]="user.password">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Zaloguj</button>
      <a (click)="signUp()" class="btn text-light">Zarejestruj</a>
    </form>
  </div>
</nav>