<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">Barter Wat</a>
  <div class="collapse navbar-collapse d-flex justify-content-end">
    <form class="form-inline my-2 my-lg-0" *ngIf="!authorized()" (ngSubmit)="signIn()">
      <label>
        <input class="form-control mr-sm-2" type="email" name="userEmail" placeholder="Email" required
               [(ngModel)]="user.email">
      </label>
      <label>
        <input class="form-control mr-sm-2" type="password" name="userPassword" placeholder="Hasło" required
               [(ngModel)]="user.password">
      </label>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Zaloguj</button>
      <a (click)="signUp()" class="btn text-light">Zarejestruj</a>
    </form>
  </div>
  <div *ngIf="authorized()">
    <div class="row">
      <div ngbDropdown class="btn-group-vertical">
        <a ngbDropdownToggle class="text-light mr-2 text-capitalize">{{getUsername()}}</a>
        <div ngbDropdownMenu class="dropdown-menu-right text-left mt-3">
          <a [routerLink]="['/products/my']" ngbDropdownItem>Moje produkty</a>
          <a [routerLink]="['/offers/my']" ngbDropdownItem>Moje oferty</a>
          <div class="dropdown-divider"></div>
          <a (click)="signOut()" ngbDropdownItem>Wyloguj się</a>
        </div>
      </div>
      <div>
        <button class="btn btn-primary mx-2" [routerLink]="['/products/new']">+ Dodaj produkt</button>
      </div>
    </div>
  </div>
</nav>
