/* You can add global styles to this file, and also import other style files */

@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 50px 0 0;
  background-color: #eeeeee;
}

nav {
  height: 50px;
}

.single-row-products {
  margin-top: 2%;
  margin-left: 20%;
  margin-right: 20%;
}

.single-row-offers {
  margin-top: 5%;
  margin-left: 30%;
  margin-right: 30%;
}

.product-image{
  width: 10vw;
}
