<div *ngIf="!userRegistered()">
  <h1 class="text-center mb-2">Rejestracja</h1>
  <form [formGroup]="registerForm" (ngSubmit)="signUp()">
    <div class="form-group">
      <h5><label for="userEmail">Email</label></h5>
      <input class="form-control" id="userEmail" type="text" name="userEmail" formControlName="userEmail"
             placeholder="Podaj swój studencki email" required>
      <div *ngIf="userEmail.invalid && (userEmail.dirty || userEmail.touched)"  class="text-danger">
        <div *ngIf="userEmail.errors.required">
          Email jest wymagany
        </div>
        <div *ngIf="userEmail.errors.pattern">
          Email musi należeć do watowskiej domeny
        </div>
      </div>
    </div>
    <div class="form-group">
      <h5><label for="userPassword">Hasło</label></h5>
      <input class="form-control" id="userPassword" type="password" name="userPassword" formControlName="userPassword"
             placeholder="Podaj hasło" required>
      <div *ngIf="userPassword.invalid && (userPassword.dirty || userPassword.touched)" class="text-danger">
        <div *ngIf="userPassword.errors.required">
          Haslo jest wymagane
        </div>
      </div>
    </div>
    <div class="form-group">
      <h5><label for="userRepassword">Powtórz hasło</label></h5>
      <input class="form-control" id="userRepassword" type="password" name="userRepassword"
             formControlName="userRepassword"
             placeholder="Podaj swoje hasło ponownie" required>
      <div *ngIf="userRepassword.errors?.required && (userRepassword.dirty || userRepassword.touched)"
           class="text-danger">
        Ponowne podanie hasła jest wymagane
      </div>
      <div *ngIf="registerForm.errors?.passwordsNotMatch
      && ((userPassword.dirty || userPassword.touched)
      && ( userRepassword.dirty || userRepassword.touched))"
           class="text-danger">
        Podane hasła różnią się
      </div>
    </div>
    <div class="d-flex justify-content-between">
      <button type="submit" class="btn btn-success">Zarejestruj</button>
      <button class="btn btn-danger" [mat-dialog-close]>Anuluj</button>
    </div>
  </form>
</div>
<div class="text-center" *ngIf="userRegistered()">
  <h5>Rejestracja przebiegła pomyślnie</h5>
  <button class="btn btn-outline-success" [mat-dialog-close]>Ok</button>
</div>


<!--<div *ngIf="!userRegistered()">-->
<!--  <h1 class="text-center mb-2">Rejestracja</h1>-->
<!--  <form>-->
<!--    <div class="form-group">-->
<!--      <h5><label for="userEmail">Email</label></h5>-->
<!--      <input class="form-control" id="userEmail" type="text" name="userEmail" [(ngModel)]="user.email"-->
<!--             placeholder="Podaj swój studencki email" required>-->
<!--      <div *ngIf="emailIsInvalid()" class="alert alert-danger">Nieprawidłowy email</div>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <h5><label for="userPassword">Hasło</label></h5>-->
<!--      <input class="form-control" id="userPassword" type="password" name="userPassword" [(ngModel)]="user.password"-->
<!--             placeholder="Podaj hasło" required>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <h5><label for="userRepassword">Powtórz hasło</label></h5>-->
<!--      <input class="form-control" id="userRepassword" type="password" name="userRepassword" [(ngModel)]="repassword"-->
<!--             placeholder="Podaj swoje hasło ponownie" required>-->
<!--      <div *ngIf="!passwordsMatches()" class="alert alert-danger">Podane hasła różnią się</div>-->
<!--    </div>-->
<!--    <div class="d-flex justify-content-between">-->
<!--      <button (click)="signUp()" class="btn btn-success">Zarejestruj</button>-->
<!--      <button class="btn btn-danger" [mat-dialog-close]>Anuluj</button>-->
<!--    </div>-->
<!--  </form>-->
<!--</div>-->
<!--<div class="text-center" *ngIf="userRegistered()">-->
<!--  <h5>Rejestracja przebiegła pomyślnie</h5>-->
<!--  <button class="btn btn-outline-success" [mat-dialog-close]>Ok</button>-->
<!--</div>-->
